img {
  height: auto;
  max-width: 40%;
  box-shadow: var(--shadow);

}
.homeContainer {
  display: grid;
  grid-gap: 5px;
}

.homeWhatImage img {
  transform: rotate(-90deg);
}

.homeWhyImage img {
  transform: rotate(-90deg);
}

.homeHowImage img {
  transform: rotate(-90deg);
}

.homeWhyText {
  text-align: left;
  padding-left: .5rem;
}

.homeWhyText h3 {
  font-size: 1.5 em;
}

.homeWhatContent {
  justify-self: start;
}

.homeWhatContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
  background: var(--box);
}

.homeWhyContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  background: var(--box);
}

.homeHowContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
  background: var(--box);

}