.homeContainer {
  text-align: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.homeWhat {

}

.whyTitle {

}

.whyList {
  align-items: left;
  align-self: flex-start;
}

.howContent {
}

.homeImage {
}

img {
  height: auto;
  max-width: 25%;
}