 .NavContainer {
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Link {
    text-decoration: none;
    color: #000;olor: 'black';
    margin: 5px;
    padding: 2px;
    font-size: 1em;
  }