.recipeCard {
  padding: 5px;
  margin: 2px;
  box-shadow: var(--shadow);
}

.cardImage img {
  max-width: 275px;
  height: auto;
}


.recipesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}


