
#menu-outer {
  height: 84px;

}

  .recipesListContainer {
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

.recipeCard {
  padding: 10px;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage img {
  max-width: 300px;
  height: auto;
}


