body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}


#menu-outer {
  height: 84px;

}

.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  margin: 15px;
  outline: none;
  text-decoration: none;
  }
  ul#horizontal-list li {
    display: inline;
    outline: none;
    text-decoration: none;
  }

  ul> li {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    margin: 15px;
    outline: none;
    text-decoration: none;
  }

  .recipesListContainer {
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

.recipeCard {
  padding: 10px;
  margin: 2px;
}


